#ignore git temp files
sys$command
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio

*.obj
*.exe
*.jar
*.dll
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.zip
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.svn*/
Client/Interop*/
*.idl
*.sdf
*.opensdf
*.class
*.ipch
midloutput*/
target*/
*.sxs.manifest
dotNETClient/Client/Interops*/
ClientServer/Binaries*/
*.ipch
*.prefs
*.project
*.classpath
Server/repository*/
Server/log*/
Server/QCWebApp/defaultroot/qcsense/birt/logs*/
Server/sa/sa-webui/war/WEB-INF/classes*/
*.gwt-log
Server/siteadmin.xml
Source/Client/Design*/
Source/Client/3rdParty/NetAdv*/
GitUtils*/
Source/Client/Lib/Design*/
SharpPlink-Win32.svnExe
SharpSvn-DB44-20-Win32.dll
SharpSvn-SASL21-23-Win32.dll
SharpSvn.dll
*packages/*
!*packages/repositories.config
!NuGet.exe
#Begin Externals
Source/Client/QCExtension/QCExtension.idl
Source/Client/QCExtension/QCExtension.coclasses.idl
Source/Client/Interop/Spider.idl
Source/Client/Interop/otareport.idl
Source/Client/Interop/TDClient.idl
Source/Client/Interop/SAClient.idl
Source/Client/Interop/QCInternalExtension.idl
Source/Client/Interop/PerformanceWinHooks.idl
Source/Client/Interop/QCClientUI.IDL
Source/Client/Interop/ExtensibilityAPI.idl
Source/Client/Interop/ALMSampleExtension.idl
Source/Client/Interop/QCSampleExtension.idl
Source/Client/Interop/SRunner.tlb
Source/Client/Interop/QCExtension.idl
Source/Client/Interop/QCExtension.coclasses.idl
Source/Client/OTA/Entities/Core/Analysis/Schema/AnalysisItemConfiguration.xsd
Source/Client/OTA/Api/Customization/BusinessViews/BusinessViewModelProperties.xsd
Source/Client/OTA/Api/Customization/BusinessViews/QueryResultSetProperties.xsd
Source/Client/OTA/Api/Customization/BusinessViews/DqlEnvironmentDescriptor.xsd
Source/Client/OTA/Api/Customization/BusinessViews/DqlExtension.xsd
Source/Client/ALMPlatform/TDClient.idl
Server/jetty-runner/src/main/resources
Utilities/standAloneVerifyTool/MaintenanceData/backup
Utilities/standAloneVerifyTool/MaintenanceData/conf
Utilities/standAloneVerifyTool/MaintenanceData/dat
Utilities/standAloneVerifyTool/MaintenanceData/SchemaExceptions.xml
#End Externals

# Log4j.properties
Server/alm-tests/alm-sa-tests/src/test/resources/log4j.properties
Server/alm-tests/alm-system-tests/src/test/resources/log4j.properties
#
.idea/
*.iml
Default.xls.lck
server.ws
lock.lck
ALM_Build_Output

# local Git configuration file
.gitconfig

/Automation/UFT/Scenarios/Function_Libraries/General/*.lck
/Automation/UFT/Scenarios/Function_Libraries/General/*.lck

/Automation/UFT/Scenarios/Function_Libraries/Test_Lab/Gui/*.lck

#Delphi files 
*.~pas
*.~dpr
*.dof
*.bkm
*.drc

/QC_External_Integration/SAAS_Addon/deploy
# ANTR4 artifacts
Server/QC-Web/gen

[I|i]nstall/[I|i]nstall[A|a]nywhere/buildlog.xml

#LAB Exclude List
/javabin
*.settings

#Generated logs and screenshots for WebUI UI automation
/Server/alm-web-ui/test/mintjsPoc/tsPoc/v1/reports/logs
/Server/alm-web-ui/test/mintjsPoc/tsPoc/v1/reports/screenshots/*.png
/Server/alm-web-ui/test/mintjsPoc/tsPoc/v1/reports/screenshots/css/*.png

*.war
# Selenium driver(s) for Selenium tests
!/QA/alm-selenium-qa/selenium_drivers/windows/IEDriverServer.exe